.dd .ses {
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  justify-content: space-between;
  margin-right: 50;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
  border: solid 10px black;
  margin-top: '1em';
  color: black;
  text-align: right;
  border-bottom: solid 5px black;
}
