.dd .ses {
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  justify-content: space-between;
  margin-right: 50;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
}
